@*
 * This template is rendered from Webpage controller.
 * It calls for content of /main.scala.html/ file and
 * returns data as rendered webpage.
 *
 * Used sources:
 * https://github.com/playframework/play-scala-starter-example/blob/2.5.x/app/views/index.scala.html
 *@

@()

@main("Panel uzytkownika") {
<div class="container">
<div class="jumbotron">
<div class="row">
    <div style="padding:20px" class="text-center">
	<h2>Co chcesz zrobic?</h2>
	<div class="col-md-12" style="margin-bottom: 15px">
		<a href="@routes.Application.get"><button type="button" class="btn btn-lg btn-primary">GET</button></a>
	</div>
	<div class="col-md-12" style="margin-bottom: 15px">
		<a href="@routes.Application.post"><button type="button" class="btn btn-lg btn-primary">POST</button></a>
	</div>

	<div class="col-md-12" style="margin-bottom: 15px">
@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
		<p>Wybierz plik:&nbsp;<label class="btn btn-primary btn-file" style="width: 100px;">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><input type="file" name="myfile" style="display: none;">
		</label>
		<input type="submit" class="btn btn-lg btn-primary"></p>
}
	</div>

    </div>
</div>
</div>
</div>
}
